.MuiAppBar-colorPrimary {
  color: #0062cc!important;
  background-color: #fff!important;
}

.MuiAppBar-root {
  width: 100%;
  height: 80px!important;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}


.MuiToolbar-regular {
    min-height: 80px!important;
}


.fa {
  padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}