body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#homepgimg {
  background-image: url(./assets/images/Middle.png);
  width: 100%;
  height: 108.6%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#bottomimg {
  background-image: url(./assets/images/bottom.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#logo {
  background-image: url(./assets/images/artificio-logo.png);
  margin-left: 50px;
  width: 125px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.leftnav {
  max-width: 260px !important;
  height: 100vh !important;
}

.leftnavbg {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.leftnav .MuiAccordion-rounded:first-child {
  border-radius: 0px;
}

.leftnav .MuiAccordion-rounded:last-child {
  border-radius: 0px;
}

.leftnav .MuiAccordion-root:before {
background-color: rgba(0, 0, 0, 0);
}

.topnav {
  padding: 28px 0px;
}

#logodboard {
  background-image: url(./assets/images/artificio-logo.png);
  width: 125px;
  height: 16px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.help, .help a, .help a:focus {
  color: #7f7f7f;
  margin-right: 20px;
  background-color: #fff;
  border: 0px !important;
  font-size: 13px;
}

.help:hover, .help a:hover, .help a:focus {
  background-color: none;
  border: 0px !important;
}

.btnblue {
  background-color: #0376cf;
  margin-right: 5%;
  padding: 7px 25px;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  font-size: 13px;
}

form .MuiButton-containedPrimary {
  background-color: #0376cf;
  padding: 8px 30px;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  font-size: 13px;
}

.marginright0 {
  margin-right: 0px;
}

header {
  position: relative !important;
}

.dboard .row {
  background-color: #f8fafb;
  padding: 0px;
  margin: 0px;
}
